JWT_SECRET_KEY=aqui_debes_poner_una_clave_secreta_de_32_caracteres
URL_DATABASE_USUARIOS=jdbc:mysql://mysql-usuario:3306/nombre_de_base_de_datos_usuarios
URL_DATABASE_METAS=jdbc:mysql://mysql-metas:3306/nombre_de_base_de_datos_metas
USERNAME_DATABASE=usuario_de_base_de_datos
PASSWORD_DATABASE=contraseña_de_base_de_datos
URL_DATABASE_TRANSACCIONES=jdbc:mysql://mysql-transacciones:3306/nombre_de_base_de_datos_transacciones